@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Bebas+Neue&family=Carattere&family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=Imperial+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Lexend+Giga:wght@100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Lilita+One&family=Luxurious+Script&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sacramento&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Tangerine:wght@400;700&family=Varela+Round&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --red: #cf3538; /* m */
  --red-d: #a10909; /* ml */
  --dark: #1a1a1a;  /*g*/ /*c*/
  --gray: #5a5a5a;  /*g3*/ /*g2*/
  --gray-l: #B8B2AD; /*sg*/
  --red-m: #fde0e0; /* dr */
  --red-l: #fff5f5;
  --light: #f8f6f6; /*ow*/ /* iv */
  --white: #fff; /*bg-section*/
}

/* =========================
  GLOBAL RESET
========================= */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--light);
  color: var(--dark);
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* =========================
  HERO
========================= */
.beranda-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  gap: 50px;
  padding: 100px 11%;
  background-position: center;
  background-size: cover;
  background-image: url('../img/beranda.jpg');
}

.hero {
  flex: 1;
}

.hero-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.judul {
  font-size: 6.5rem;
  font-family: 'Playfair Display', serif;
  /* color: var(--red-d); */
  text-shadow: 2px 2px 2px var(--light);
}

.judul span {
  color: var(--red);
}

.subjudul {
  font-size: 1.1rem;
  margin: 10px 0;
  color: var(--gray);
  line-height: 1.6;
}

.search-wrapper {
  margin-top: 25px;
  position: relative;
}

.search-wrapper input {
  width: 100%;
  padding: 14px 20px;
  border-radius: 40px;
  border: 1px solid var(--gray-l);
  background: var(--light);
}

.search-wrapper input:focus {
  color: var(--dark);
  border: 1px solid var(--red-d);
}

.search-icon {
  position: absolute;
  right: 20px;
  top: 12px;
  font-size: 20px;
  color: var(--dark);
}

.btn-create {
  margin-top: 25px;
  display: flex;
  gap: 15px;
}

.btn1 {
  background: var(--red-m);
  color: var(--red);
  border: 1px solid rgba(192, 57, 59, .3);
  font-weight: 500;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.btn2 {
  background: var(--red-d);
  color: var(--light);
  font-weight: 500;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.btn1:hover {
  background: var(--red);
  color: var(--light);
}
.btn2:hover {
  transform: translateY(-3px);
  background-color: var(--red);
}


.hero-right img {
  width: 1050px;
  max-width: 800px;
}


/* =========================
  SCROLL ANIMATION
========================= */

.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Optional: beda arah animasi */
.reveal-left {
  opacity: 0;
  transform: translateX(-60px);
  transition: all 0.8s ease;
}

.reveal-left.active {
  opacity: 1;
  transform: translateX(0);
}

.reveal-right {
  opacity: 0;
  transform: translateX(60px);
  transition: all 0.8s ease;
}

.reveal-right.active {
  opacity: 1;
  transform: translateX(0);
}
